* {
  margin: 0;
}

@font-face {
  font-family: 'SparkyStones';
  src: url('./fonts/SparkyStonesRegular-BW6ld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#00EBFF, #00CBFB);
  margin: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.flag {
  width: 49rem;
  position: absolute;
  top: 52vh;
  left: 7vw;
}

.cloud {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(4px);
  z-index: -1;
}

.cloudHalf {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cloudShape1 {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: -25px;
  margin-bottom: 6px;
  box-shadow: 5px 12px 0px 0px rgb(217,217,218);
}

.cloudShape1:last-child {
  margin-right: 0;
}

.cloudShape2 {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: -15px;
  margin-bottom: -5px;
  box-shadow: 5px 12px 0px 0px rgb(217,217,218);
}

.cloudShape3 {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: -20px;
}

.cloudShape3:last-child {
  margin-right: 0;
}

.cloudShape4 {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: -30px;
  margin-bottom: 20px;
  box-shadow: 0px 12px 0px 0px rgb(217,217,218);
}

.balloon {
  position: absolute;
  left: 70px;
  top: 150px;
  -webkit-animation: shake-bottom 2s linear infinite both;
          animation: shake-bottom 2s linear infinite both;
}

.roundShape {
  width: 120px;
  height: 130px;
  background: radial-gradient(#ffaebe 15%, #FF84AA, #FF84AA);
  border-radius: 60% / 65% 70% 50% 50%;
  margin-top: 10px;
  position: relative;
  border: 5px solid #FF84AA;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: -7px -5.5px 0px -5.5px rgba(255, 255, 255, 1) inset;
  outline: 2px solid black;

}

.balloonTip {
  width: 15px;
  height: 15px;
  background-color: #FF84AA;
  border-radius: 5px;
  border: 2px solid black;
  position: relative;
  left: 45px;
  top: -17px;
  z-index: -1;
}

.balloonString {
  position: relative;
  height: 50px;
  background-color: black;
  width: 2px;
}

.heartBalloon {
  position: absolute;
  -webkit-animation: enlarge 2s ease-in-out infinite;
  animation: enlarge 2s ease-in-out infinite;
}

.heartBalloon span {
  color: white;
  font-family: 'SparkyStones';
}

.heartBalloonText {
  display: flex;
  font-size: 0.7rem;
  flex-direction: column;
  line-height: 6px;
  margin-bottom: 0.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  
}

/* heart shape from ProgrammersPortal */
.heart{
	width: 24px;
	height: 24px;
	background: radial-gradient(#ff8d78 10%, #F31C12, #F31C12);
	clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.heartBorder {
  position: absolute;
  top: 1;
  bottom: 0;
	width: 24px;
	height: 24px;
	background: black;
  clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
}

.heartTip {
  width: 20px;
  height: 30px;
  background-color: #F31C12;
  border-radius: 2px;
  border: 2px solid black;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* list of animations */
@-webkit-keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation));
            transform: rotate(var(--initial-rotation));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg));
            transform: rotate(calc(var(--initial-rotation) - 6deg));
  }
}

@keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
  }
}

@-webkit-keyframes enlarge {
  0%, 100% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
  }
  50% {
    -webkit-transform: scale(calc(var(--initial-scale) + 1)) rotate(var(--initial-rotation));
            transform: scale(calc(var(--initial-scale) + 1)) rotate(var(--initial-rotation));
  }
}

@keyframes enlarge {
  0%, 100% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
  }
  50% {
    -webkit-transform: scale(calc(var(--initial-scale) + 1)) rotate(var(--initial-rotation));
            transform: scale(calc(var(--initial-scale) + 1)) rotate(var(--initial-rotation));
  }
}
