* {
  margin: 0;
}

@font-face {
  font-family: 'SparkyStones';
  src: url('./fonts/SparkyStonesRegular-BW6ld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#00EBFF, #00CBFB);
  margin: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.flag {
  width: 47rem;
  position: absolute;
  top: 49vh;
  left: 10vw;
}

.mansion {
  width: 57rem;
  position: absolute;
  bottom: 0;
  left: 35%;
  z-index: 5;
  cursor: pointer;
}

.cloud {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(3px);
  z-index: -1;
}

.cloudHalf {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cloudShape1 {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: -25px;
  margin-bottom: 6px;
  box-shadow: 5px 12px 0px 0px rgb(217,217,218);
}

.cloudShape1:last-child {
  margin-right: 0;
}

.cloudShape2 {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: -15px;
  margin-bottom: -5px;
  box-shadow: 5px 12px 0px 0px rgb(217,217,218);
}

.cloudShape3 {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: -20px;
}

.cloudShape3:last-child {
  margin-right: 0;
}

.cloudShape4 {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: -30px;
  margin-bottom: 20px;
  box-shadow: 0px 12px 0px 0px rgb(217,217,218);
}

.bear {
  display: flex;
  flex-direction: column;
  width: 18.5rem;
  position: absolute;
  cursor: pointer;
  -webkit-animation: shake-bear-noTip 2s ease-in-out infinite both;
          animation: shake-bear-noTip 2s ease-in-out infinite both;
}

.bearEars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -2.8rem;
}

.ear {
  width: 60px;
  height: 35px;
  border-radius: 30px 30px 0px 0;
  background-color: #F87513;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.earShadow {
  position: relative;
  width: 30px;
  height: 15px;
  background-color: #A3280B;
  border-radius: 15px 15px 0 0;
  top: 11px;
  left: 15px;
  
}

.bearFace {
  width: 15rem;
  height: 13rem;
  border-radius: 100% 100% 80% 80%;
  background-color: #F87513;
  border: 6px solid #F87513;
  margin-left: 1.7rem;
  box-sizing: border-box;
  box-shadow: 4px 10px 2px -8px #FBCD83 inset;
  outline: 2px solid black;
}

.bearEyes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 6rem;
  position: relative;
  top: 5rem;
  left: 3.9rem;
}

.eye {
  width: 15px;
  height: 15px;
  background-color: #2F0E13;
  border-radius: 100%;
  z-index: 2;
}

.noseAndMouth {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5rem;
  left: 0rem;
  align-items: center;
}

.nose {
  width: 20px;
  height: 10px;
  background-color: #2F0E13;
  z-index: 2;
  border-radius: 50%;
}

.mouthLine {
  width: 3px;
  height: 4px;
  background-color: #2F0E13;
  z-index: 2;
}

.smile {
  width: 3.4rem;
  display: flex;
  flex-direction: row;
  transform: scaleY(-1);
  margin-top: -1px;
}

.smileHalf {
  width: 1.7rem;
  height: 3px;
  background-color: transparent;
  border: 3px solid #2F0E13;
  border-bottom: transparent;
  border-radius: 8px 8px 0 0;
  z-index: 2;
}

.mouthOpen {
  background-color: #2F0E13;
  width: 18px;
  height: 12px;
  border-radius: 100%;
  z-index: 2;
  margin-top: -6px;
}

.bearTip {
  width: 10px;
  height: 13px;
  background-color: #F87513;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  top: 7.8rem;
  left: 6.1rem;
  z-index: -1;
}

.bearString {
  position: relative;
  top: 60px;
  left: 67px;
  height: 300px;
  background-color: black;
  width: 2.5px;
  transform: rotate(0deg);
  z-index: -2;
}

.balloonLeft {
  cursor: pointer;
  position: absolute;
  left: 70px;
  top: 150px;
  -webkit-animation: shake-bottom 2s ease-in-out infinite both;
          animation: shake-bottom 2s ease-in-out infinite both;
}

.roundShape {
  width: 120px;
  height: 130px;
  border-radius: 60% / 65% 70% 50% 50%;
  margin-top: 10px;
  position: relative;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: -5px -9px 3px -7px rgba(255, 255, 255, 1) inset;
  outline: 2px solid black;

}

.balloonTip {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid black;
  position: relative;
  left: 45px;
  top: -17px;
  z-index: -1;
}

.balloonString {
  position: relative;
  top: -250px;
  left: 53px;
  height: 300px;
  background-color: black;
  width: 2px;
  transform: rotate(0deg);
  z-index: -2;
}

.heartBalloon {
  cursor: pointer;
  position: absolute;
  -webkit-animation: enlarge 2s ease-in-out infinite;
  animation: enlarge 2s ease-in-out infinite;
}

.heartBalloon span {
  color: white;
  font-family: 'SparkyStones';
}

.heartBalloonText {
  display: flex;
  font-size: 0.7rem;
  flex-direction: column;
  line-height: 6px;
  margin-bottom: 0.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  
}

.daisy {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 10vw;
  top: 10vh;
}
.daisyPetals {
  display: flex;
  flex-direction: column;
}
.petalsHalf {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}

.petal {
  background-color: #FFFFFF;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: -12px;
  border: 2px solid black;
}

.daisyCenter {
  position: relative;
  background-color: #FFFFFF;
  width: 130px;
  height: 130px;
  top: -175px;
  left: 6px;
  border-radius: 100%;
}

.daisyYellow {
  position: relative;
  background: radial-gradient( at 30% 10%, #FFFFEE, #FFCE00, #FFCE00 );
  width: 85px;
  height: 80px;
  border-radius: 100%;
  left: 22px;
  top: 25px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(30deg);
}

.daisyEyes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 23px;
  margin-top: 5px;
}

.daisyEye {
  width: 7px;
  height: 15px;
  background-color: #050F06;
  border-radius: 100%;
}

.daisySmile {
  width: 45px;
  height: 20px;
  background-color: transparent;
  border: 3px solid #050F06;
  border-bottom: transparent;
  border-radius: 25px 25px 0 0;
  transform: scaleY(-1);
  margin-top: 5px;
}

.daisyTip {
  width: 10px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
  top: -178px;
  transform: rotate(30deg);
  left: -33px;
  z-index: -1;
}

.daisyString {
  position: relative;
  top: -210px;
  left: -109px;
  height: 300px;
  background-color: black;
  width: 2px;
  transform: rotate(30deg);
  z-index: -2;
}

/* heart shape from ProgrammersPortal */
.heart{
	width: 24px;
	height: 24px;
	background: radial-gradient(#F67052 10%, #F31C12, #F31C12);
	clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  outline: 1.9px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.heartBorder {
  position: absolute;
  top: 1;
  bottom: 0;
	width: 24px;
	height: 24px;
	background: black;
  clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
}

.heartTip {
  width: 10px;
  height: 20px;
  background-color: #F31C12;
  border-radius: 5px;
  border: 2px solid black;
  position: relative;
  left: 65px;
  top: -48px;
  z-index: -1;
}

.heartText {
  z-index: 4;
  font-family: 'SparkyStones';
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -172px;
  line-height: 35px;
  letter-spacing: 3px;
}

.heartText span {
  text-shadow: -1px 0 #8D3019, 0 1px #8D3019, 1px 0 #8D3019, 0 -1px #8D3019, 2px 3px 2px rgba(63, 22, 22, 0.7);
}


.heartContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10vw;
}

.heartTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heartCircle {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #F31C12;
  border: 4px solid #F31C12;
  outline: 2px solid black;
}

.heartBottom {
  width: 86px;
  height: 86px;
  background: radial-gradient(at 38% 38%, #F97421 3%, #F31C12, #F31C12);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  position: relative;
  border-radius: 30px 0px 10px 00px;
  left: 28px;
  top: -54.8px;
}

/* list of animations */
@-webkit-keyframes shake-bottom-less {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
  }
}

@keyframes shake-bottom-less {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
  }
}

@-webkit-keyframes shake-bottom-more {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
  }
}

@keyframes shake-bottom-more {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 10deg)) scale(var(--initial-scale)) translateY(10px) translateX(9px);
            transform: rotate(calc(var(--initial-rotation) - 10deg)) scale(var(--initial-scale)) translateY(10px) translateX(9px);
  }
}

@keyframes shake-bottom-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(3px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(3px);
  }
}

@-webkit-keyframes shake-bottom-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
  }
}

@-webkit-keyframes shake-bottom-noTip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale)) translateX(-15px);
            transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale)) translateX(-15px);
  }
}

@keyframes shake-bottom-noTip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale)) translateX(-15px);
            transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale)) translateX(-15px);
  }
}

@-webkit-keyframes enlarge {
  0%, 100% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
  }
  50% {
    -webkit-transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
            transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
  }
}

@keyframes enlarge {
  0%, 100% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
  }
  50% {
    -webkit-transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
            transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
  }
}

@keyframes shake-bear-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
  }
}

@-webkit-keyframes shake-bear-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
  }
}

@-webkit-keyframes shake-bear-noTip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
  }
}

@keyframes shake-bear-noTip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
  }
}

@-webkit-keyframes shake-daisy-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 6deg)) scale(var(--initial-scale)) translateY(15px);
            transform: rotate(calc(var(--initial-rotation) + 6deg)) scale(var(--initial-scale)) translateY(15px);
  }
}

@keyframes shake-daisy-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateY(10px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateY(10px);
  }
}
