* {
  margin: 0;
}

@font-face {
  font-family: 'SparkyStones';
  src: url('./fonts/SparkyStonesRegular-BW6ld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#53f1ff, #00BBF7);
  margin: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mansionContainer {
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.buttons {
  height: 5vh;
  width: 100vw;
  z-index: 6;
  margin-top: 1vh;
}

.buttons button  {
  border: 0.15vw solid black;
  background-color: white;
  color: black;
  border-radius: 0.7vw;
  height: 4vh;
  width: 4.5vw;
  font-size: 1vw;
  font-family: 'NanumSquareNeo-Variable';
  cursor: pointer;
  font-weight: 500;
  float: right;
  margin-right: 1vw;
}

.mansion{
  height: 35vh;
  z-index: 4;
  cursor: pointer;
}

.centerBalloonsContainer {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.flag {
  height: 17vh;
  position: absolute;
  top: 49vh;
  left: 10vw;
  z-index: 4;
}

.rainbow {
  height: 10vh;
  position: absolute;
}

.rainbowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 5vw;
  top: 28vh;
  z-index: 1;
  transform: rotate(-7deg);
}

.redRing {
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  background-color: #f31c12;
  margin-bottom: -87px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.orangeRing {
  width: 170px;
  height: 85px;
  border-radius: 85px 85px 0 0;
  background-color: #fa7514;
  margin-bottom: -72px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.yellowRing {
  width: 140px;
  height: 70px;
  border-radius: 70px 70px 0 0;
  background-color: #ffcc11;
  margin-bottom: -57px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.greenRing {
  width: 110px;
  height: 55px;
  border-radius: 55px 55px 0 0;
  background-color: #33aa33;
  margin-bottom: -42px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.blueRing {
  width: 80px;
  height: 40px;
  border-radius: 40px 40px 0 0;
  background-color: #002186;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: -25px;
}
.emptyRing {
  width: 50px;
  height: 28px;
  border-radius: 25px 25px 0 0;
  background-color: #30DAFB;
}

.clouds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-top: -100px;
  z-index: 2;
}

.cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(3px);
  z-index: -1;
}

.cloudHalf {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cloudShape1 {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: -25px;
  margin-bottom: 6px;
  box-shadow: 5px 12px 0px 0px rgb(217,217,218);
}

.cloudShape1:last-child {
  margin-right: 0;
}

.cloudShape2 {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: -15px;
  margin-bottom: -5px;
  box-shadow: 5px 12px 0px 0px rgb(217,217,218);
}

.cloudShape3 {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: -20px;
}

.cloudShape3:last-child {
  margin-right: 0;
}

.cloudShape4 {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: -30px;
  margin-bottom: 20px;
  box-shadow: 0px 12px 0px 0px rgb(217,217,218);
}

.bear {
  display: flex;
  flex-direction: column;
  width: 18.5rem;
  cursor: pointer;
  z-index: 3;
}

.bearEars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -2.8rem;
}

.ear {
  width: 60px;
  height: 35px;
  border-radius: 30px 30px 0px 0;
  background-color: #F87513;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.earShadow {
  position: relative;
  width: 30px;
  height: 15px;
  background-color: #A3280B;
  border-radius: 15px 15px 0 0;
  top: 11px;
  left: 15px;
  
}

.bearFace {
  width: 15rem;
  height: 13rem;
  border-radius: 100% 100% 80% 80%;
  background-color: #F87513;
  border: 6px solid #F87513;
  margin-left: 1.7rem;
  box-sizing: border-box;
  box-shadow: 4px 10px 2px -8px #FBCD83 inset;
  outline: 2px solid black;
}

.bearEyes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 6rem;
  position: relative;
  top: 5rem;
  left: 3.9rem;
}

.eye {
  width: 15px;
  height: 15px;
  background-color: #2F0E13;
  border-radius: 100%;
  z-index: 2;
}

.noseAndMouth {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5rem;
  left: 0rem;
  align-items: center;
}

.nose {
  width: 20px;
  height: 10px;
  background-color: #2F0E13;
  z-index: 2;
  border-radius: 50%;
}

.mouthLine {
  width: 3px;
  height: 4px;
  background-color: #2F0E13;
  z-index: 2;
}

.smile {
  width: 3.4rem;
  display: flex;
  flex-direction: row;
  transform: scaleY(-1);
  margin-top: -1px;
}

.smileHalf {
  width: 1.7rem;
  height: 3px;
  background-color: transparent;
  border: 3px solid #2F0E13;
  border-bottom: transparent;
  border-radius: 8px 8px 0 0;
  z-index: 2;
}

.mouthOpen {
  background-color: #2F0E13;
  width: 18px;
  height: 12px;
  border-radius: 100%;
  z-index: 2;
  margin-top: -6px;
}

.bearTip {
  width: 10px;
  height: 13px;
  background-color: #F87513;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  top: 7.8rem;
  left: 6.1rem;
  z-index: -1;
}

.bearString {
  position: relative;
  top: 60px;
  left: 67px;
  height: 20vh;
  background-color: black;
  width: 2.5px;
  transform: rotate(0deg);
  z-index: -2;
}

.balloonLeft {
  cursor: pointer;
  display: flex;
  z-index: 3;
}


.balloonLeft.animate-up {
  animation-name: fly-up;
}

.roundShape {
  width: 120px;
  height: 130px;
  border-radius: 60% / 65% 70% 50% 50%;
  margin-top: 10px;
  position: relative;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: -5px -9px 3px -7px rgba(255, 255, 255, 1) inset;
  outline: 2px solid black;

}

.balloonTip {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid black;
  position: relative;
  left: 45px;
  top: -17px;
  z-index: -1;
}

.balloonString {
  position: relative;
  top: -40vh;
  left: 53px;
  height: 40vh;
  background-color: black;
  width: 2px;
  transform: rotate(0deg);
  z-index: -2;
}

.heartBalloon {
  cursor: pointer;
  -webkit-animation: enlarge 2s ease-in-out infinite;
  animation: enlarge 2s ease-in-out infinite;
}

.heartBalloon span {
  color: white;
  font-family: 'SparkyStones';
}

.heartBalloonText {
  display: flex;
  font-size: 0.7rem;
  flex-direction: column;
  line-height: 6px;
  margin-bottom: 0.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  
}

.daisy {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.daisyPetals {
  display: flex;
  flex-direction: column;
}
.petalsHalf {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}

.petal {
  background-color: #FFFFFF;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: -12px;
  border: 2px solid black;
}

.daisyCenter {
  position: relative;
  background-color: #FFFFFF;
  width: 130px;
  height: 130px;
  top: -175px;
  left: 6px;
  border-radius: 100%;
}

.daisyYellow {
  position: relative;
  background: radial-gradient( at 30% 10%, #FFFFEE, #FFCE00, #FFCE00 );
  width: 85px;
  height: 80px;
  border-radius: 100%;
  left: 22px;
  top: 25px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(30deg);
}

.daisyEyes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 23px;
  margin-top: 5px;
}

.daisyEye {
  width: 7px;
  height: 15px;
  background-color: #050F06;
  border-radius: 100%;
}

.daisySmile {
  width: 45px;
  height: 20px;
  background-color: transparent;
  border: 3px solid #050F06;
  border-bottom: transparent;
  border-radius: 25px 25px 0 0;
  transform: scaleY(-1);
  margin-top: 5px;
}

.daisyTip {
  width: 10px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
  top: -178px;
  transform: rotate(30deg);
  left: -33px;
  z-index: -1;
}

.daisyString {
  position: relative;
  top: -215px;
  left: -135px;
  height: 400px;
  background-color: black;
  width: 2px;
  transform: rotate(30deg);
  z-index: -2;
}

.heartContainer {
  position: absolute;
  max-height: 100px;
  z-index: 3;
}

.heartTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  width: 143px;
}

.heartCircle {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #F31C12;
  border: 4px solid #F31C12;
  outline: 1.5px solid black;
}

.heartBottom {
  width: 85px;
  height: 86px;
  background: radial-gradient(at 38% 38%, #F97421 3%, #F31C12, #F31C12);
  border-bottom: 1.5px solid black;
  border-right: 1.5px solid black;
  transform: rotate(45deg);
  position: relative;
  border-radius: 32px 0px 10px 00px;
  left: 28.5px;
  top: -54px;
  cursor: pointer;
}

.heartTip {
  width: 8px;
  height: 15px;
  background-color: #F31C12;
  border-radius: 0 0 3px 3px;
  border: 1.5px solid black;
  position: relative;
  left: 67px;
  top: -48px;
  z-index: -1;
  cursor: pointer;
}

.heartText {
  z-index: 4;
  font-family: 'SparkyStones';
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -165px;
  line-height: 35px;
  letter-spacing: 3px;
  cursor: pointer;
}

.heartText span {
  text-shadow: -1px 0 #910606, 0 1px #910606, 1px 0 #910606, 0 -1px #910606, 3px 1px 1px rgba(63, 22, 22, 0.5);
}

.heartString {
  position: relative;
  top: -50px;
  left: 71px;
  height: 30vh;
  background-color: black;
  width: 2px;
  transform: rotate(0deg);
  z-index: -2;
}

.paperPlane {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #DAFAFF;
  position: relative;
  /* transform: rotate(65deg) rotateY(-15deg) rotateX(-10deg) scale(-4); */
  /* transform: rotate(55deg) rotateY(45deg) rotateX(-10deg) scale(4); */
  border-radius: 3px;
  position: absolute;
  z-index: 2;
  top: 80vh;
  left: -10vw;
  animation: plane-fly 13s ease-in infinite both;
  -webkit-animation: plane-fly 13s ease-in infinite both;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 60px solid #BDD6DA; /* White color to represent paper */
  position: relative;
  transform: rotate(-175deg) rotateY(-60deg) rotateX(10deg) scale(0.83);
  top: 2px;
  left: -7px;
}

.triangle1 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #BDD6DA; /* White color to represent paper */
  position: relative;
  transform: rotate(-70deg) scale(1.3) rotateY(-45deg);
  top: 37px;
  left: -6px;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #95C6CF; /* White color to represent paper */
  position: relative;
  transform: rotate(-110deg) scale(0.9) rotateY(-45deg);
  top: 4px;
  left: -5.3px;
}

/* list of animations */
@-webkit-keyframes shake-bottom-less {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@keyframes shake-bottom-less {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale));
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@-webkit-keyframes shake-bottom-more {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 10deg)) scale(var(--initial-scale)) translateY(10px) translateX(9px);
            transform: rotate(calc(var(--initial-rotation) - 10deg)) scale(var(--initial-scale)) translateY(10px) translateX(9px);
  }
}

@keyframes shake-bottom-more {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 10deg)) scale(var(--initial-scale)) translateY(10px) translateX(9px);
            transform: rotate(calc(var(--initial-rotation) - 10deg)) scale(var(--initial-scale)) translateY(10px) translateX(9px);
  }
}

@keyframes shake-bottom-tip {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(3px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(3px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
}

@-webkit-keyframes shake-bottom-tip {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(3px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(3px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: -0% -100%;
            transform-origin: -0% -100%;
  }
}

@-webkit-keyframes shake-bottom-noTip {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale));
  }

  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@keyframes shake-bottom-noTip {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 18deg)) scale(var(--initial-scale));
  }

  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up, 0));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up, 0));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@-webkit-keyframes enlarge {
  0% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
  }
  50% {
    -webkit-transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
            transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
  }
  100% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation)) translateY(var(--move-up));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation)) translateY(var(--move-up));
  }
}

@keyframes enlarge {
  0% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation));
  }
  50% {
    -webkit-transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
            transform: scale(calc(var(--initial-scale) + 0.2)) rotate(var(--initial-rotation));
  }
  100% {
    -webkit-transform: scale(var(--initial-scale)) rotate(var(--initial-rotation)) translateY(var(--move-up));
            transform: scale(var(--initial-scale)) rotate(var(--initial-rotation)) translateY(var(--move-up));
  }
}

@-webkit-keyframes fly-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes shake-bear-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
  }
}

@-webkit-keyframes shake-bear-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
            transform: rotate(calc(var(--initial-rotation) - 3deg)) scale(var(--initial-scale)) translateY(-6px) translateX(-13px);
  }
}

@keyframes shake-bear-noTip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(20px) translateY(-5px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(20px) translateY(-5px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes shake-bear-noTip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(20px) translateY(-5px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(20px) translateY(-5px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes shake-bear-noTip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
  }
}

@keyframes shake-bear-noTip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
            transform: rotate(calc(var(--initial-rotation) - 6deg)) scale(var(--initial-scale));
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes shake-daisy-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateY(5px) translateX(-20px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateY(5px) translateX(-20px);
  }
}

@keyframes shake-daisy-tip {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateY(5px) translateX(-20px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateY(5px) translateX(-20px);
  }
}

@-webkit-keyframes shake-daisy-noTip {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 12deg)) scale(var(--initial-scale)) translateX(33px) ;
            transform: rotate(calc(var(--initial-rotation) - 12deg)) scale(var(--initial-scale)) translateX(33px) ;
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@keyframes shake-daisy-noTip {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) - 12deg)) scale(var(--initial-scale)) translateX(33px) ;
            transform: rotate(calc(var(--initial-rotation) - 12deg)) scale(var(--initial-scale)) translateX(33px) ;
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes shake-heart-tip-right {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 2deg)) scale(var(--initial-scale)) translateX(7px);
            transform: rotate(calc(var(--initial-rotation) + 2deg)) scale(var(--initial-scale)) translateX(7px);
  }
}

@keyframes shake-heart-tip-right {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 2deg)) scale(var(--initial-scale)) translateX(7px);
            transform: rotate(calc(var(--initial-rotation) + 2deg)) scale(var(--initial-scale)) translateX(7px);
  }
}

@-webkit-keyframes shake-heart-noTip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 5deg)) scale(var(--initial-scale)) translateY(-10px) translateX(7px);
            transform: rotate(calc(var(--initial-rotation) + 5deg)) scale(var(--initial-scale)) translateY(-10px) translateX(7px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes shake-heart-noTip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 5deg)) scale(var(--initial-scale)) translateY(-10px) translateX(7px);
            transform: rotate(calc(var(--initial-rotation) + 5deg)) scale(var(--initial-scale)) translateY(-10px) translateX(7px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes shake-bottom-tip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-5px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-5px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@-webkit-keyframes shake-bottom-tip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-5px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-5px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@keyframes shake-bottom-tip-right2 {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-20px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-20px);
  }
}

@-webkit-keyframes shake-bottom-tip-right2 {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-20px);
            transform: rotate(calc(var(--initial-rotation) + 3deg)) scale(var(--initial-scale)) translateX(-20px);
  }
}

@keyframes shake-bottom-tip-right-more {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% -100%;
            transform-origin: 0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 6deg)) scale(var(--initial-scale)) translateY(-5px) translateX(-10px);
            transform: rotate(calc(var(--initial-rotation) + 6deg)) scale(var(--initial-scale)) translateY(-5px) translateX(-10px);
  }
}

@-webkit-keyframes shake-bottom-tip-right-more {
  0%, 100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 0% -100%;
            transform-origin: 0% -100%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 6deg)) scale(var(--initial-scale)) translateY(-5px) translateX(-10px);
            transform: rotate(calc(var(--initial-rotation) + 6deg)) scale(var(--initial-scale)) translateY(-5px) translateX(-10px);
  }
}

@-webkit-keyframes shake-bottom-noTip-right-more {
  0%{
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(-15px);
            transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(-15px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@keyframes shake-bottom-noTip-right-more {
  0%{
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(-15px);
            transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(-15px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@-webkit-keyframes shake-bottom-noTip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(25px) translateY(5px);
            transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(25px) translateY(5px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@keyframes shake-bottom-noTip-right {
  0% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(25px) translateY(5px);
            transform: rotate(calc(var(--initial-rotation) + 18deg)) scale(var(--initial-scale)) translateX(25px) translateY(5px);
  }
  100% {
    -webkit-transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
            transform: rotate(var(--initial-rotation)) scale(var(--initial-scale)) translateY(var(--move-up));
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@keyframes plane-fly {
  0% {
    transform: translate(-100vw, 20vh) rotate(55deg) rotateY(45deg) rotateX(-10deg) scale(4);
  }
  5% {
    transform: translate(0vw, 5vh) rotate(5deg) rotateY(35deg) rotateX(5deg) scale(2);
  }
  25% {
    transform: translate(50vw, -30vh) rotate(55deg) rotateY(35deg) rotateX(5deg) scale(3);
  }
  50% {
    transform: translate(110vw, -60vh) rotate(30deg) rotateY(25deg) rotateX(10deg) scale(1);
  }
  60% {
    transform: translate(150vw, -60vh) rotate(65deg) rotateY(-15deg) rotateX(-10deg) scale(-1);
  }
  95% {
    transform: translate(9vw, -10vh) rotate(60deg) rotateY(5deg) rotateX(-10deg) scale(-2);
  }
}

@-webkit-keyframes plane-fly {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(100vw) translateY(2vh);
  }
  50.1% {
    transform: scale(1, -1) translateX(100vw) translateY(-2vh);
  }
  100% {
    transform: scale(1, 1) translateX(-100vw) translateY(-2vh);
  }
}
